html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans 400';
	font-size: 16px;
	line-height: 1.8;
	letter-spacing: 1px;
	font-style: normal; 
}

/*
===========================
Basic Setup
===========================
*/
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a,
span,
label {
	display: inline-block;
}

ul li {
	list-style: none;
}

a,
a:focus {
	text-decoration: none;
}

button,
input,
textarea,
button:focus,
input:focus,
textarea:focus {
	border: 0;
	outline: 0;
	background-color: transparent;
}

button {
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
hr {
	margin: 0;
	padding: 0;
}

/*
==================================
Font Size
==================================
*/
.font-size-55 {
	font-size: 55px;
}

.font-size-35 {
	font-size: 35px;
}

.font-size-27 {
	font-size: 27px;
}

.font-size-24 {
	font-size: 24px;
}

.font-size-20 {
	font-size: 20px;
}

.font-size-18 {
	font-size: 18px;
}

.font-size-17 {
	font-size: 17px;
}

.font-size-16 {
	font-size: 16px;
}

.font-size-15 {
	font-size: 15px;
}

.font-size-14 {
	font-size: 14px;
}

/*
==================================
Font Color
==================================
*/
.text-color-ff {
	color: #FFFFFF;
}

.text-color-33 {
	color: #333333;
}

.text-color-73 {
	color: #73b21a;
}

.text-color-66 {
	color: #666666;
}

.text-color-97 {
	color: #979797;
}


/*
==================================
BG Color
==================================
*/

.bg-color-73 {
	background: #73b21a;
}

.bg-color-ff {
	background: #FFFFFF;
}

.bg-color-4b {
	background: #4B7017;
}

.bg-color-40 {
	background: #406E00;
}

.bg-color-15 {
	background: #151515;
}

/*
=======================================
	Reuseable Components
=======================================
*/

.line-1,
.line-2{
	border: 0;
	border-bottom: 2px solid #73b21a;
	opacity: 1;
	margin-left: auto;
	margin-right: auto;
}
.line-1{
	width: 120px;
	margin-bottom: 4px;
}
.line-2{
    width: 75px;
}
.p-w{
	max-width: 700px;
}
.btn-pri{
	min-width:150px ;
	height: 40px;
	line-height:40px ;
	transition: all .3s ease;
}
.btn-pri:hover{
	background: #4B7017;
}



/*
=======================================
	Start Header 
=======================================
*/

.header-top{
	padding:6px 0px;
}
.sign-signup li:last-child a{
	border-radius: 10px;
}
.main-menu ul li:not(:last-child) a:hover{
	color: #73b21a;
}
.main-menu ul li:last-child a{
	width: 35px;
	height: 35px;
	line-height: 35px;
}

/*
=======================================
	Start banner 
=======================================
*/

.banner{
	background: linear-gradient(rgb(51 51 51 / 70%) , rgb(115 178 26 / 70%)), url(../images/banner1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center ;
}
.b-text a{
	border-radius: 10px;
}
.b-text a:hover{
	color: #fff;
	background-color: #223645;
}
.garden-box{
	transition: .3s;
}
.garden-box:hover{
    background: #73b21a;
}
.garden-box a{
	position: absolute;
	left: 50%;
	bottom:-17px;
	transform: translateX(-50%);
}
.garden-row > * {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
}
.garden-row{
	margin-right: -15px;
	margin-left: -15px;
}
